@import vars


/*==========  Desktop First  ==========*/

// ≥1200px
+media-breakpoint-down(lg)
  .main-mnu
    li
      padding: 0 12px
      font-size: 12px

// ≥992px
+media-breakpoint-down(md)
  .main-mnu
    display: none

  .head-logo
    text-align: left
    display: flex
    justify-content: space-between
    align-items: center

  .hamburger
    display: block

// ≥768px
+media-breakpoint-down(sm)

// ≥480px
+media-breakpoint-down(xs)


/*==========  Mobile First  ==========*/

// ≤480px
+media-breakpoint-up(sm)

// ≤768px
+media-breakpoint-up(md)

// ≤992px
+media-breakpoint-up(lg)

// ≤1200px
+media-breakpoint-up(xl)
